* {
  box-sizing: border-box; }

a {
  cursor: pointer;
  text-decoration: none; }

._pos_rel {
  position: relative; }

._float_con {
  overflow: hidden; }
  ._float_con > * {
    float: left; }
  ._float_con > ._f_right {
    float: right; }
  ._float_con:after {
    clear: both; }

._light_gray_bg {
  background-color: #eaeaea; }

._gray_bg {
  background-color: #bfbfbf; }

._dark_gray_bg {
  background-color: #808080; }

#sub_menu_bar {
  width: 100%;
  height: 44px;
  background-color: #707070; }

#scroll_area {
  overflow: hidden; }
  #scroll_area.vertical {
    overflow-y: scroll; }
  #scroll_area.horizontal {
    overflow-x: scroll; }
  #scroll_area.both {
    overflow: scroll; }

.loading_more {
  color: tomato;
  background-color: white;
  text-align: center;
  padding: 20px; }

#bottom_bar {
  height: 52px;
  background-color: #efefef;
  border-top: 1px solid #cdcdcd;
  box-sizing: border-box;
  color: #555555; }
  #bottom_bar:active {
    background-color: white; }

#scroll_height {
  padding: 14px; }
  #scroll_height > div {
    margin-bottom: 12px;
    border-radius: 6px;
    overflow: hidden; }
  #scroll_height > div:last-child {
    margin-bottom: 0; }

.facebook-btn {
  text-align: center;
  background-color: #3b5998;
  padding: 12px 14px 10px 14px;
  color: white; }

#delivery_and_restaurant {
  text-align: center;
  color: #555555;
  border-radius: 6px;
  overflow: hidden; }
  #delivery_and_restaurant > div {
    width: 50%; }
  #delivery_and_restaurant > div > div {
    padding: 12px 0;
    background-color: white; }
  #delivery_and_restaurant img {
    width: 64px;
    height: 64px; }
  #delivery_and_restaurant #to_delivery {
    padding-right: 0.5px; }
  #delivery_and_restaurant #to_restaurant {
    padding-left: 0.5px; }
  #delivery_and_restaurant #to_cafeteria {
    padding-right: 0.5px;
    padding-top: 1px; }
  #delivery_and_restaurant #to_franchise {
    padding-left: 0.5px;
    padding-top: 1px; }
  #delivery_and_restaurant h1 {
    margin: 1px;
    font-size: 1.2em;
    font-weight: bold; }
  #delivery_and_restaurant span {
    opacity: 0.67; }

#cafeteria_and_franchise {
  margin-top: -4px; }

#building_chat {
  width: 100%;
  background-color: white;
  color: #555555; }
  #building_chat img {
    width: 80px;
    height: 80px; }
  #building_chat td:first-child {
    padding-left: 8px; }
  #building_chat td:last-child {
    vertical-align: middle;
    padding: 0 20px 0 12px; }

#editors_restaurant {
  background-color: white; }
  #editors_restaurant > #title {
    height: 44px;
    line-height: 46px;
    padding: 0 12px;
    font-size: 1.2em; }
    #editors_restaurant > #title i {
      color: tomato; }
  #editors_restaurant > #image {
    height: 240px; }
    #editors_restaurant > #image > div {
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: 0px;
      height: 48px;
      line-height: 50px;
      font-size: 1.2em;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center; }
      #editors_restaurant > #image > div i {
        opacity: 0.5; }
  #editors_restaurant > .new_restaurant {
    padding: 12px;
    border-bottom: 1px solid #dedede; }
    #editors_restaurant > .new_restaurant:last-child {
      border-bottom: 0; }
    #editors_restaurant > .new_restaurant > span.new_sign {
      font-size: 0.8em;
      font-weight: bold;
      color: tomato;
      opacity: 0.75;
      margin-right: 6px; }
    #editors_restaurant > .new_restaurant span.info {
      color: #bfbfbf;
      font-size: 0.9em; }

#jobs_section {
  background-color: white; }
  #jobs_section #jobs_bar {
    height: 44px;
    line-height: 46px;
    padding: 0 12px; }
    #jobs_section #jobs_bar > span {
      font-size: 1.2em; }
      #jobs_section #jobs_bar > span > span {
        color: #40b4ff;
        font-weight: bold;
        font-size: 0.8em; }
    #jobs_section #jobs_bar > div {
      margin: 0 8px;
      height: 52px; }
  #jobs_section #jobs {
    background-color: white; }
    #jobs_section #jobs > div {
      padding: 16px;
      border-bottom: 1px solid #eaeaea;
      color: #555555; }
      #jobs_section #jobs > div:last-child {
        border-bottom: 0; }
      #jobs_section #jobs > div > div:first-child {
        color: #808080;
        font-size: 0.9em;
        margin-bottom: 2px; }
        #jobs_section #jobs > div > div:first-child #work_area {
          margin-right: 8px; }
        #jobs_section #jobs > div > div:first-child i {
          color: #40b4ff; }
    #jobs_section #jobs #jobs_loading {
      text-align: center;
      color: tomato;
      padding: 8px; }
  #jobs_section .video_container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; }
  #jobs_section .video_container iframe,
  #jobs_section .video_container object,
  #jobs_section .video_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #jobs_section #tutoring {
    border-top: 1px dashed #40b4ff;
    padding: 14px;
    text-align: center;
    background-color: white; }
    #jobs_section #tutoring > i {
      color: #bfbfbf; }

#to_modoo {
  background-color: white;
  height: 48px;
  line-height: 50px;
  padding: 0 12px;
  font-size: 1.1em; }
  #to_modoo i {
    color: tomato; }

#create_icon #open_internet_app {
  color: #6c93ff; }
#create_icon > div:first-child {
  background-color: #ff7a57;
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-size: 1.2em;
  color: white; }
#create_icon > div:last-child {
  display: none;
  background-color: white;
  padding: 16px 16px 0 16px;
  line-height: 24px; }
  #create_icon > div:last-child > h1 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 4px; }
    #create_icon > div:last-child > h1:first-child {
      margin-top: 0; }
  #create_icon > div:last-child > span {
    color: tomato; }
  #create_icon > div:last-child > img {
    vertical-align: bottom;
    width: 24px;
    height: 24px; }
  #create_icon > div:last-child > div {
    height: 44px;
    line-height: 44px;
    text-align: right;
    margin-top: 12px;
    border-top: 1px solid #efefef; }
    #create_icon > div:last-child > div i {
      color: #808080; }
  #create_icon > div:last-child #not_wicam_i {
    color: tomato; }

/*# sourceMappingURL=2_dashboard.css.map */
