@import "common";

#scroll_height {
  padding: 12px;
  & > div {
    margin-bottom: 12px;
  }
  & > div:last-child {
    margin-bottom: 0;
  }
}

#delivery_or_restaurant {
  text-align: center;
  color: white;
  & > div {
    width: 50%;
  }
  & > div > div {
    padding: 16px 0;
  }
  & img {
    width: 70px;
    height: 70px;
  }
  & #to_delivery {
    padding-right: 4px;
    & > div {
      background-image: url('app/Images/Interface/to_delivery_bg.png');
      background-size: cover;
    }
    &:active > div {
      background: #ff7b40 none;
    }
  }
  & #to_restaurant {
    padding-left: 4px;
    & > div {
      background-image: url('app/Images/Interface/to_restaurant_bg.png');
      background-size: cover;
    }
    &:active > div {
      background: #6c93ff none;
    }
  }
  & h1 {
    margin: 2px;
    font-size: 1.4em;
    font-weight: bold;
  }
}

#to_inform {
  background-color: white;
  height: 80px;
  border: 1px solid $light_gray_bg_border;
}

#create_icon {
  & > div:first-child {
    background-color: $sikija_color;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-size: 1.2em;
    color: white;
  }
  & > div:last-child {
    background-color: white;
    padding: 20px;
    line-height: 24px;
    & > h1 {
      font-size: 1.1em;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 4px;
      &:first-child {
        margin-top: 0;
      }
    }
    & > span {
      color: $sikija_color;
    }
    & > img {
      vertical-align: bottom;
      width: 24px;
      height: 24px;
    }
  }
}

