$sikija_color: tomato;
$light_line_color: #EAEAEA;
$sub_menu_bar_bg: #707070;
$light_gray_bg: #efefef;
$light_gray_bg_border: #eaeaea;

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

._pos_rel {
  position: relative;
}

._float_con {
  overflow: hidden;
  & > * {
    float: left;
  }
  &:after {
    clear: both;
  }
}

._light_gray_bg {
  background-color: $light_gray_bg;
}

#sub_menu_bar {
  width: 100%;
  height: 44px;
  background-color: $sub_menu_bar_bg;
}

#scroll_area {
  overflow: hidden;
  &.vertical {
    overflow-y: scroll;
  }
  &.horizontal {
    overflow-x: scroll;
  }
  &.both {
    overflow: scroll;
  }
}

#bottom_bar {
  height: 52px;
  background-color: #efefef;
  border-top: 1px solid #cdcdcd;
  box-sizing: border-box;
  color: #555555;
  &:active {
    background-color: white;
  }
}
