extends layout

block content
    button(onclick="window.open('http://시키자.com', '_blank');") 시키자.com으로 이동
    br
    span 위캠에서 동작하지 않을 시 인터넷 앱에서 한글주소 [시키자.com]으로 접속하세요.
    script.
        window.open('http://시키자.com', '_blank');

