<div id="top_bar" class="_pos_rel">
  <nav>
    <a *ngIf="menu_set == 'select_location'">장소를 선택하세요.</a>
    <a *ngIf="menu_set == 'dashboard' && locationObj">{{regionName}} {{locationObj.name}} <i (click)="toLocationSelect()" class="fa fa-refresh" aria-hidden="true"></i></a>

    <a *ngIf="menu_set == 'btn_back'" (click)="goBack()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      뒤로
    </a>
    <a *ngIf="menu_set == 'btn_home'" (click)="goBack()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      홈으로</a>

  </nav>
  <img *ngIf="menu_set != 'select_location'" src="/app/Images/Interface/0_top_bar_logo.png" (click)="goHome()">
</div>
