<topBar [locationId]="locationId" [menu_set]="top_bar_menu_set"></topBar>
<div id="sub_menu_bar" class="_float_con">
  <div>
    <select id="dong_select" (change)="selectDong()">
      <option value="all">모든 동네 </option>
      <option *ngFor="let key of dongs" value="{{key}}">{{dictionary.dongKor(key)}}</option>
    </select>
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </div>
  <div>
    <select id="category_select" (change)="selectCategory()">
      <option value="all">모든 음식 </option>
      <option *ngFor="let key of resCategories" value="{{key}}">{{dictionary.resCatKor(key)}}</option>
    </select>
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </div>
</div>
<div id="scroll_area" class="vertical" (scroll)="whenReachedBottom()">
  <div id="scroll_height">
    <div id="update_notice">
      블로거들이 검증한 맛집들이 꾸준히 소개됩니다.<br>
      <div id="inform_restaurant" (click)="linkTo('http://sikija.modoo.at/?link=5nltgdly')">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i> 제보하기
      </div>
    </div>
    <div class="restaurant_item" *ngFor="let restaurant of restaurants" (click)="selectRestaurant(restaurant.id)">
      <div class="restaurant_info">
        {{dictionary.dongKor(restaurant.dong)}} ·
        <span *ngFor="let category of restaurant.category">{{dictionary.resCatKor(category)}} </span>
      </div>
      <div class="restaurant_name">{{restaurant.name}}</div>
    </div>
  </div>
</div>

