<topBar [locationId]="locationId" [menu_set]="top_bar_menu_set" [locationObj]="locationObj" [regionName]="regionName"></topBar>
<div id="scroll_area" class="vertical _light_gray_bg">
  <div id="scroll_height">

    <div id="delivery_or_restaurant" class="_float_con">
      <div id="to_delivery" (click)="toDelivery()">
        <div>
          <img src="/app/Images/Interface/to_delivery.png">
          <h1>시키자!</h1>
          <span>배달음식</span>
        </div>
      </div>
      <div id="to_restaurant" (click)="toRestaurant()">
        <div>
          <img src="/app/Images/Interface/to_restaurant.png">
          <h1>나가자!</h1>
          <span>맛집탐방</span>
        </div>
      </div>
    </div>

    <div id="to_inform"></div>

    <div id="create_icon" (click)="createIcon()">
      <div>
        <i class="fa fa-lg fa-mobile" aria-hidden="true"></i>
        홈 화면에 아이콘 추가
      </div>
      <div>
        <h1>안드로이드: 인터넷 앱 또는 크롬에서</h1>
        화면 우측 상단의<img src="/app/Images/Interface/c_i_android.png">버튼을 누르고 <span>홈 화면에 추가</span>를 누르세요.

        <h1>안드로이드: 네이버 앱에서</h1>
        화면 우측 하단의 <img src="/app/Images/Interface/c_i_naver.png">버튼을 누르고 <span>홈 화면 추가</span>를 누르세요.

        <h1>아이폰에서</h1>
        <span>사파리</span>에서 접속(시키자.com) 후 화면 하단 중앙의 <img src="/app/Images/Interface/c_i_iphone.png"> 버튼을 누른 뒤 <span>홈 화면에 추가</span>를 누르세요.
      </div>
    </div>

  </div>
</div>
