<topBar [locationId]="locationId" [menu_set]="top_bar_menu_set" [locationObj]="locationObj" [regionName]="regionName"></topBar>
<div id="scroll_area" class="vertical _light_gray_bg">
  <div id="scroll_height">

    <div id="delivery_or_restaurant" class="_float_con">
      <div id="to_delivery" (click)="toDelivery()">
        <div>
          <img src="/app/Images/Interface/to_delivery.png">
          <h1>시키자!</h1>
          <span>배달음식</span>
        </div>
      </div>
      <div id="to_restaurant" (click)="toRestaurant()">
        <div>
          <img src="/app/Images/Interface/to_restaurant.png">
          <h1>나가자!</h1>
          <span>맛집탐방</span>
        </div>
      </div>
    </div>

    <div>
      <table id="building_chat">
        <tr>
          <td>
            <img src="/app/Images/Interface/building_chat.png">
          </td>
          <td>배달업체 평가, 리뷰 기능이 준비중입니다.  조금만 기다려주세요 ^^</td>
        </tr>
      </table>
    </div>

    <div *ngIf="restaurants[0]" id="editors_restaurant">
      <div id="title"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 에디터 추천</div>
      <div class="_pos_rel" id="image" [attr.data-bgsrc]="restaurants[0].image" (click)="selectRestaurant(restaurants[0].id)">
        <div><i class="fa fa-quote-left" aria-hidden="true"></i> {{restaurants[0].desc}} <i class="fa fa-quote-right" aria-hidden="true"></i></div>
      </div>
      <div class="new_restaurant _float_con" *ngFor="let newRestaurant of newRestaurants" (click)="selectRestaurant(newRestaurant.id)">
        <span class="new_sign">NEW</span>
        {{newRestaurant.name}}
        <div class="_f_right">
          <span class="info">{{dictionary.dongKor(newRestaurant.dong)}} · </span>
          <span class="info" *ngFor="let category of newRestaurant.category">{{dictionary.resCatKor(category)}} </span>
        </div>
      </div>
    </div>

    <div id="jobs_section">
      <div id="jobs_bar" class="_float_con">
        <span><span>DDJob</span> 돈벌자!</span>
        <div class="_f_right" (click)="linkTo('http://job.ddhouse.co.kr')"><i class="fa fa-plus" aria-hidden="true"></i> 더보기</div>
      </div>
      <div class="video_container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uzpGQ8soY2s" frameborder="0" allowfullscreen></iframe>
      </div>
      <div id="jobs">
        <div *ngIf="jobs == []" id="jobs_loading">
          <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
        </div>
        <div *ngFor="let job of jobs" (click)="linkTo(job.link.toString())">
          <div><i class="fa fa-map-marker" aria-hidden="true"></i> <span id="work_area">{{job.work_area}}</span> <span>{{job.company_name}}</span></div>
          <div>{{job.title}}</div>
        </div>
      </div>
      <!--<div id="tutoring" (click)="linkTo('http://job.ddhouse.co.kr/private-lesson')"><i class="fa fa-address-card-o" aria-hidden="true"></i> 과외광고 올리기</div>-->
    </div>

    <div id="to_modoo" (click)="linkTo('http://sikija.modoo.at/')">
      <i class="fa fa-headphones" aria-hidden="true"></i> 업체제보 ·오류 신고 · 문의
    </div>

    <div id="create_icon">
      <div (click)="createIconToggle()">
        <i class="fa fa-lg fa-mobile" aria-hidden="true"></i>
        홈 화면에 아이콘 추가
      </div>
      <div>
        <i id="not_wicam_i" class="fa fa-exclamation-circle" aria-hidden="true"></i> 카톡, 페북에서 접속시 불가<br><span id="open_internet_app" (click)="linkTo('http://시키자.com')"><i class="fa fa-share-square-o" aria-hidden="true"></i> 인터넷 앱에서 열기</span>

        <h1><i class="fa fa-android" aria-hidden="true"></i> 안드로이드: 인터넷 앱(인터넷, 크롬 등)에서</h1>
        화면 우측 상단의<img src="/app/Images/Interface/c_i_android.png">버튼을 누르고 <span>홈 화면에 추가</span>를 누르세요.

        <h1><i class="fa fa-android" aria-hidden="true"></i> 안드로이드: 네이버 앱에서</h1>
        화면 우측 하단의 <img src="/app/Images/Interface/c_i_naver.png">버튼을 누르고 <span>홈 화면 추가</span>를 누르세요.<br>

        <h1><i class="fa fa-apple" aria-hidden="true" (click)="fb_login()"></i> 아이폰에서</h1>
        <span>사파리</span>에서 접속(시키자.com) 후 툴바의 <img src="/app/Images/Interface/c_i_iphone.png"> 버튼을 누른 뒤 <span><i class="fa fa-plus-square" aria-hidden="true"></i> 홈 화면에 추가</span>를 누르세요.

        <div>
          <span (click)="createIconToggle()">
            <i class="fa fa-times" aria-hidden="true"></i> 닫기
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
