<topBar [locationId]="locationId" [menu_set]="top_bar_menu_set"></topBar>
<div id="sub_menu_bar">
  <div id="all" (click)="selectCategory('all')">전체</div>
  <div id="chicken" (click)="selectCategory('chicken')">치킨</div>
  <div id="korean" (click)="selectCategory('korean')">한식</div>
  <div id="chinese" (click)="selectCategory('chinese')">중식</div>
  <div id="snack" (click)="selectCategory('snack')">분식</div>
  <div id="pork" (click)="selectCategory('pork')">돈육</div>
</div>
<div id="scroll_area" class="vertical" (scroll)="whenReachedBottom()">
  <div id="scroll_height">
    <div class="delivery_item {{delivery.desc == '' ? 'short' : 'tall'}}" *ngFor="let delivery of deliveries" (click)="selectDelivery(delivery.id)">
      <div class="delivery_name">{{delivery.name}}</div>
      <div *ngIf="delivery.desc != ''" class="delivery_desc">{{delivery.desc}}</div>
    </div>
    <div *ngIf="isMore == 2" class="loading_more">
      <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
    </div>
    <div *ngIf="isMore == 1" class="loading_more">
      Loading...
    </div>
    <div *ngIf="isMore == 0 && deliveries.length == 0" class="loading_more">
      <i class="fa fa-ban" aria-hidden="true"></i>
      등록된 배달업체가 없습니다.
    </div>
  </div>
</div>
